{% extends "dashpages/includes/base.html"%}
{% load static %}

{% block title %}Subscriptions{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/dashpages/assets/css/changes.css' %}">
{% endblock %}

{% block main %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div><h4>Subscriptions</h4><a href="/dashboard/subscription-details/"><button type="button" class="btn btn-primary btn-rounded waves-effect waves-light" >Add Subscription</button></a></div>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/dashboard/">ECommerce</a></li>
                    <li class="breadcrumb-item active">Subscriptions</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="col-lg-12">
    <div class="card">
        <div class="card-body  pt-0">
            <ul class="nav nav-tabs nav-tabs-custom mb-4">
                <li class="nav-item">
                    <a class="nav-link fw-bold p-3 active" href="#">All subscriptions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3 fw-bold" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3 fw-bold" href="#">Draft</a>
                </li>
            </ul>
            <div class="table-responsive">
                <table class="table table-centered datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 20px;">
                                <div class="form-checkbox" style="display:flex;">
                                    <input type="checkbox" class="form-check-input" id="ordercheck">
                                    <label class="form-check-label mb-0" for="ordercheck">&nbsp;</label>
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Views</th>
                            <th>Subscribers</th>
                            <th>Status</th>
                            <th style="width: 120px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-checkbox">
                                    <input type="checkbox" class="form-check-input" id="ordercheck1">
                                    <label class="form-check-label mb-0" for="ordercheck1">&nbsp;</label>
                                </div>
                            </td>
                            
                            
                            <td>
                                Blue Pants
                            </td>
                            
                            <td>
                                $170/M <strong>OR</strong> $1,999/Y
                            </td>
                            <td>
                                242
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                <div class="badge badge-soft-success font-size-12">Active</div>
                            </td>
                            
                            <td>
                                <i class=" ri-edit-line"></i>
                                <a class="text-danger" data-bs-toggle="modal" data-bs-target="#delete" title="Delete"><i class="mdi mdi-trash-can font-size-18 hoverItem"></i></a>
                            </td>
                        </tr>
                        
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- end row -->
<div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you would like to delete this subscription?</h5>
                <p>Subscription Name</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Cancel</button>
                <button id="deleteButton" type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}


<script>
    
    $(document).ready(function() {
        $('#deleteButton').click(function() {
            Command: toastr["success"]("Order Number #NZ193B has been deleted")

            toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
            }
            
        });
    });
</script>

{% endblock %}