.hoverItem:hover{
    transform: scale(1.2);
    filter: brightness(70%);
    transition: all 0.5s ease;
}

.top-bar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.top-bar-item{
    text-align: center;
    width: 100%;
    border: 1px solid #dfdfdf;
    border-right: 0px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}
.last-item{
    border-right: 1px solid #dfdfdf;
}

/* top-bar-item & selected */
.top-bar-item:hover{
    background-color: #e4e3e5;
    cursor: pointer;
}
.selected{
    background-color: #e4e3e5;
}

.quick-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}
.quick-actions-item{
    margin: 0 0.5rem;
    display: flex;
}
.name-text{
    font-size: .8rem;
}
.icon-fix{
    display: flex;
    align-items: center;
}
.top-bar-fix{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bottom-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem 0;
}
.side-bar-fix{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tiny-logos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 0;
    
}
.tiny-icons{
    margin-right: 0.2rem;
    font-size: 1.2rem;
}