 <!-- ========== Left Sidebar Start ========== -->
 <div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/dashboard/"><i class="ri-bar-chart-fill"></i>Overview</a></li>
                        <li><a href="/dashboard/products/"><i class="ri-archive-fill"></i>Products</a></li>
                        <li><a href="/dashboard/orders/"><i class="ri-shopping-cart-fill"></i>Orders</a></li>
                        <li><a href="/dashboard/customers/"><i class="ri-user-fill"></i>Customers</a></li>
                        <li><a href="/dashboard/subscriptions/"><i class=" ri-ticket-2-fill"></i>Subscriptions</a></li>
                        <li><a href="/dashboard/subscribers/"><i class="ri-exchange-dollar-line"></i>Subscribers</a></li>
                    </ul>
                    
                </li>
                
                

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->