{% extends 'dashpages/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Dashboard | Horizon Development</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Horizon Dashboard Manager" name="description" />
        <meta content="Horizon Development" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "dashpages/assets/images/fav.png" %}">

        <!-- jquery.vectormap css -->
        <link href="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet" type="text/css" />

        <!-- DataTables -->
        <link href="{% static "dashpages/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static "dashpages/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" %}" rel="stylesheet" type="text/css" />  

        <!-- Bootstrap Css -->
        <link href="{% static "dashpages/assets/css/bootstrap.min.css" %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static "dashpages/assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static "dashpages/assets/css/app.min.css" %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-sidebar="dark">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static "dashpages/assets/images/logo-sm-light.png" %}" alt="logo-sm-light" height="30">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static "dashpages/assets/images/logo-light.png" %}" alt="logo-light" height="30">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>


                        
                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="mb-3 m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                       

                       
                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="ri-fullscreen-line"></i>
                            </button>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                  data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-notification-3-line"></i>
                                <span class="noti-dot"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0"> Notifications </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="small"> View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar-xs me-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="ri-shopping-cart-line"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Your order is placed</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">If several languages coalesce the grammar</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <img src="{% static "dashpages/assets/images/users/avatar-3.jpg" %}"
                                                class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                            <div class="flex-1">
                                                <h6 class="mb-1">James Lemire</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">It will seem like simplified English.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar-xs me-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="ri-checkbox-circle-line"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Your item is shipped</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">If several languages coalesce the grammar</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <img src="{% static "dashpages/assets/images/users/avatar-4.jpg" %}"
                                                class="me-3 rounded-circle avatar-xs" alt="user-pic">
                                            <div class="flex-1">
                                                <h6 class="mb-1">Salena Layfield</h6>
                                                <div class="font-size-12 text-muted">
                                                    <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top">
                                    <div class="d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                            <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-inline-block user-dropdown">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{% static "dashpages/assets/images/users/avatar-2.jpg" %}"
                                    alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ms-1">Kevin</span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <a class="dropdown-item d-block" href="#"><i class="ri-settings-2-line align-middle me-1"></i> Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ri-store-2-line"></i>
                                    <span>Ecommerce</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="overview.html">Overview</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="categories.html">Categories</a></li>
                                    <li><a href="orders.html">Orders</a></li>
                                    <li><a href="customers.html">Customers</a></li>
                                </ul>
                            </li>

                            

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Categories</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Categories</li>
                                        </ol>
                                    </div>
                                </div>
                                    <!-- make a card for editing categories -->
                                <div class="row">
                                    <div class="card col-4">
                                        <div class="card-body">
                                            <h4 class="card-title">Main Categories</h4>
                                            <p class="card-title-desc">You can edit the main categories here.</p>
                                            <div class="table-responsive">
                                                <table class="table table-editable table-nowrap align-middle table-edits">
                                                    <thead>
                                                        <tr style="cursor: pointer;">
                                                            <th>Category Name</th>
                                                            <th>Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-id="1" style="cursor: pointer;background: #1f252a;color: white;">
                                                            <td data-field="id" style="width: 80px" >Mens Fashion</td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr data-id="1" style="cursor: pointer;">
                                                            <td data-field="id" style="width: 80px">Womens Fashion</td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr data-id="1" style="cursor: pointer;">
                                                            <td data-field="id" style="width: 80px">Household Items</td>
                                                            <td style="width: 100px">
                                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr> 
                                                            <!-- Button to add new item -->
                                                            <td colspan="2" style="text-align: center;">
                                                                <a class="btn btn-outline-secondary btn-sm" title="Add New" style="width: 100%;">
                                                                    <i class="fas fa-plus"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>  
                                    <div class="card col-4">
                                        <div class="card-body">
                                            <h4 class="card-title">Car Parts
                                                <!-- Edit pencil icon -->
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit" style="float: right;">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                            </h4>
                                            <p class="card-title-desc">You can edit the sub categories here.</p>
                                            <table class="table table-editable table-nowrap align-middle table-edits">
                                                <thead>
                                                    <tr style="cursor: pointer;">
                                                        <th>Category Name</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                    <tr data-id="1" style="cursor: pointer;">
                                                        <td data-field="id" style="width: 80px">Mens Jackets</td>
                                                        <td style="width: 100px">
                                                            <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr data-id="1" style="cursor: pointer;">
                                                        <td data-field="id" style="width: 120px; color: white;background: #1f252a; ">Mens T Shirts</td>
                                                        <td style="width: 100px">
                                                            <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr data-id="1" style="cursor: pointer;">
                                                        <td data-field="id" style="width: 80px">Mens Shoes</td>
                                                        <td style="width: 100px">
                                                            <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr> 
                                                        <!-- Button to add new item -->
                                                        <td colspan="2" style="text-align: center;">
                                                            <a class="btn btn-outline-secondary btn-sm" title="Add New" style="width: 100%;">
                                                                <i class="fas fa-plus"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                            
                                            
                                        </div>
                                    </div>  

                                    <div class="card col-4">
                                        <div class="card-body">
                                            <a class="btn btn-outline-secondary btn-sm" title="Add New" style="width: 100%;">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        
    
                    </div>
                    
                </div>
                <!-- End Page-content -->
               
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    <script>document.write(new Date().getFullYear())</script> © Horizon Software Development
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

       

        <!-- JAVASCRIPT -->
        <script src="{% static "dashpages/assets/libs/jquery/jquery.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/metismenu/metisMenu.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/simplebar/simplebar.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/node-waves/waves.min.js" %}"></script>

        
        <!-- apexcharts -->
        <script src="{% static "dashpages/assets/libs/apexcharts/apexcharts.min.js" %}"></script>

        <!-- jquery.vectormap map -->
        <script src="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js" %}"></script>

        <!-- Required datatable js -->
        <script src="{% static "dashpages/assets/libs/datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static "dashpages/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" %}"></script>

        <script src="{% static "dashpages/assets/js/pages/dashboard.init.js" %}"></script>

        <!-- App js -->
        <script src="{% static "dashpages/assets/js/app.js" %}"></script>
    </body>

</html>