{% load static %}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Login | Horizon Development</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Horizon Dashboard Manager" name="description" />
        <meta content="Horizon Development" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "dashpages/assets/images/fav.png" %}">

        <!-- jquery.vectormap css -->
        <link href="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" %}" rel="stylesheet" type="text/css" />

        <!-- DataTables -->
        <link href="{% static "dashpages/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}" rel="stylesheet" type="text/css" />
         <!-- select2 css -->
         <link href="{% static "dashpages/assets/libs/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static "dashpages/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" %}" rel="stylesheet" type="text/css" />  

        <!-- Bootstrap Css -->
        <link href="{% static "dashpages/assets/css/bootstrap.min.css" %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static "dashpages/assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static "dashpages/assets/css/app.min.css" %}" id="app-style" rel="stylesheet" type="text/css" />


        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200;1,400&display=swap" rel="stylesheet">

    </head>

    <body>

        <!-- Begin page -->
        <div id="layout-wrapper">
            <!-- Login Page -->
            <div class="account-pages my-5 pt-sm-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5">
                            <div class="card overflow-hidden">
                                <div style="width: 100%; display:grid; place-items:center;">
                                    <img src="{% static "dashpages/assets/images/horizon.png" %}" alt="Horizon Logo" style="height: 6rem;margin-top: 1rem;">
                                    <span style="font-family: 'Montserrat', sans-serif;">Horizon|<strong>DEV</strong></span>
                                        
                                        
                                </div>
                                <div class="card-body pt-0">
                                    <div class="p-2">
                                        <form class="form-horizontal" action="index.html">

                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                                            </div>

                                            <div class="form-group">
                                                <label for="userpassword">Password</label>
                                                <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
                                            </div>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                                            </div>

                                            <div class="mt-3">
                                                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log In</button>
                                            </div>

                                            <!-- Make forgot your password text to open forgotPasswordModal -->

                                            <div class="mt-4 text-center ">
                                                <p  class="text-muted waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal"><i class="mdi mdi-lock mr-1"></i> Forgot your password?</p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Make forgot your password modal -->
            <div class="modal fade" id="forgotPasswordModal" style="
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            "
            tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot your password?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
                            <form>
                                <div class="form-group">
                                    <label for="forgotPasswordEmail">Email address</label>
                                    <input type="email" class="form-control" id="forgotPasswordEmail" placeholder="Enter email">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary waves-effect waves-light">Send Email</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- END layout-wrapper -->

       

        <!-- JAVASCRIPT -->
        <script src="{% static "dashpages/assets/libs/jquery/jquery.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/metismenu/metisMenu.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/simplebar/simplebar.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/node-waves/waves.min.js" %}"></script>

          <!-- select 2 plugin -->
          <script src="{% static "dashpages/assets/libs/select2/js/select2.min.js" %}"></script>

        <!-- jquery.vectormap map -->
        <script src="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js" %}"></script>

        <!-- Required datatable js -->
        <script src="{% static "dashpages/assets/libs/datatables.net/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static "dashpages/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "dashpages/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" %}"></script>

        <script src="{% static "dashpages/assets/js/pages/dashboard.init.js" %}"></script>

        <!-- App js -->
        <script src="{% static "dashpages/assets/js/app.js" %}"></script>
    </body>

</html>

