{% extends "dashpages/includes/base.html"%}
{% load static %}

{% block title %}CRM | Dashboard{% endblock %}


{% block css %}<link rel="stylesheet" href="{% static '/dashpages/assets/css/changes.css' %}">{% endblock %}

{% block main %}
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Todays Tasks</h4>

                <div class="table-responsive mt-3">
                    <table class="table table-centered datatable dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customercheck">
                                        <label class="form-check-label mb-0" for="customercheck">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Prospect</th>
                                <th>Task</th>
                                <th>Quick Link</th>
                                <th style="width: 120px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customercheck1">
                                        <label class="form-check-label mb-0" for="customercheck1">&nbsp;</label>
                                    </div>
                                </td>
                                
                                <td><a href="customer-detail.html">Carolyn Harvey</a></td>
                                <td><p>Linked In Connect</p></td>
                                <td><a href="customer-detail.html" style="font-weight: bold; ">Go To Linkedin <i class="ri-external-link-line" style="vertical-align: sub;"></i></a></td>
                               
                                
                                <td id="tooltip-container1">
                                    <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18 hoverItem"></i></a>
                                    <a class="text-danger" data-bs-toggle="modal" data-bs-target="#delete" title="Delete"><i class="mdi mdi-trash-can font-size-18 hoverItem"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customercheck1">
                                        <label class="form-check-label mb-0" for="customercheck1">&nbsp;</label>
                                    </div>
                                </td>
                                
                                <td><a href="customer-detail.html">Carolyn Harvey</a></td>
                                <td><p>Linked In Connect</p></td>
                                <td><a href="customer-detail.html">Go To Linkedin</a></td>
                               
                                
                                <td id="tooltip-container1">
                                    <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18 hoverItem"></i></a>
                                    <a class="text-danger" data-bs-toggle="modal" data-bs-target="#delete" title="Delete"><i class="mdi mdi-trash-can font-size-18 hoverItem"></i></a>
                                </td>
                            </tr>
                            
                            
                            
                        </tbody>
                    </table>
                </div>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->
{% endblock %}

{% block scripts %}

{% endblock %}